@page "/"

<PageTitle>Index</PageTitle>

<h1>Elementa Cibi</h1>

Because Food Tracker apps are not complicated enough. Look up individual foods by going to <a href="/food/lookup">Food Lookup</a>
or build a recipe with <a href="food/recipe/builder">Recipe Builder</a> 
