<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ElementaCibi</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="food/lookup">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Food Lookup
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipe/builder">
                <span class="oi oi-wrench" aria-hidden="true"></span> Recipe Builder
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="day/tracker">
                <span class="oi oi-sun" aria-hidden="true"></span> Day Tracker
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
