@using ElementaCibi.Data.Models;
@using System.Text.Json
<select @onchange="OnPortionChange">
    @foreach (var p in Food.Portions)
    {
        <option value="@JsonSerializer.Serialize(p)">@p.Description</option>
    }
</select>
@code {
    [Parameter]
    public Food Food { get; set; } = new Food();
    [Parameter]
    public EventCallback<Portion> PortionValueChanged { get; set; }

    protected override void OnInitialized()
    {
        PortionValueChanged.InvokeAsync(Food.Portions.FirstOrDefault());
    }

    public void OnPortionChange(ChangeEventArgs e)
    {
        if (e?.Value != null)
        {
            var portion = JsonSerializer.Deserialize<Portion>((string)e.Value);
            PortionValueChanged.InvokeAsync(portion);
        }
    }
}
